.date-picker{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #f7bb84;
    margin-right: 20px;
    color: white;
    width: 90% !important;
    text-align: end;
    height: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15px;
  }